
<div id="devise_edit">
  <%= render "devise/shared/error_messages", resource: resource %>
  <p id="devise_edit_title">プロフィール変更</p>
  <div id="devise_profile_change">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, id: "tests") do |f| %>

      <div class="field">
        <%= f.label :name %>
        <div>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :email %>
        <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %>
        <span>(変更したくない場合は空白のままにします)</span>
        <div>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><% @minimum_password_length %> </em>
          <% end %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i></i>
        <div>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
      </div>

      <div class="actions">
        <label>
          <%= f.submit "更新", style:"display:none" %>
          <span class="form_actions_submit">更新する</span>
        </label>
      </div>
      
    <% end %>
  </div>
</div>

<div class="actions">
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"form_actions_submit"%>
</div>
<div class="actions_delete delete_user_edit">
  <label>
    <%= button_to "確認", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete, style:"display:none" %>
    <span id="form_actions_delete">アカウントを削除</span>
  </label>
</div>
