<div id="main_post_form"><%# js.の記述を削除new.jsに記述 %>
  <p id="form_site_title">商品の出品</p>
  <% if @post.errors.any? %>
    <div>
      <ul id="alert_message">
        <% @post.errors.full_messages.each do |message| %>
          <li><i class="fas fa-exclamation-circle"><%= message %></i></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <section id="post_form_wrapper">
    <%= form_with model: @post, local: true, id: "form_main" do |form| %>
    <div class="form_section">
      <%= form.label :title, "タイトル"%>
      <span class="post_form_span">必須</span>
      <div class="post_form"> 
        <%= form.text_field :title, placeholder: "40文字まで" %>
      </div>
    </div>

    <div class="form_section">
      <%= form.label :content, "内容"%>
      <span class="post_form_span">必須</span>
      <div class="post_form">
        <%= form.text_area :content, placeholder: "商品の説明。(内容、賞味期限,定価、内容量など)" %>
      </div>
    </div>

    <div class="form_section">
      <%= form.label :price, "希望金額"%>
      <span class="post_form_span">必須</span>
      <div class="post_form">
        <%= form.number_field :price, placeholder: "¥" %>
      </div>
    </div>

    <div class="form_section">
      <%= form.label :prefectures, "都道府県"%>
      <span class="post_form_span">必須</span>
      <div class="post_form">
        <%= form.select :prefectures, {"東京": "東京"},{ include_blank: "選択してください" },{ id: "prefectures" , required: true}%>
      </div>
    </div>
    
    <div class="form_section">
      <%= form.label :city_id, "市区郡"%>
      <span class="post_form_span">必須</span>
      <div class="post_form">
        <%= form.select :city_id, {
        "足立区": "足立区",
        "荒川区": "荒川区",
        "板橋区": "板橋区",
        "江戸川区": "江戸川区",
        "大田区": "大田区",
        "葛飾区": "葛飾区",
        "北区": "北区",
        "江東区": "江東区",
        "品川区": "品川区",
        "渋谷区": "渋谷区",
        "新宿区": "新宿区",
        "杉並区": "杉並区",
        "墨田区": "墨田区",
        "世田谷区": "世田谷区",
        "台東区": "台東区",
        "中央区": "中央区",
        "千代田区": "千代田区",
        "豊島区": "豊島区",
        "中野区": "中野区",
        "練馬区": "練馬区",
        "文京区": "文京区",
        "港区": "港区",
        "目黒区": "目黒区",
        "昭島市": "昭島市",
        "あきる野市": "あきる野市",
        "稲城市": "稲城市",
        "青梅市": "青梅市",
        "清瀬市": "清瀬市",
        "国立市": "国立市",
        "小金井市": "小金井市",
        "国分寺市": "国分寺市",
        "小平市": "小平市",
        "狛江市": "狛江市",
        "立川市": "立川市",
        "多摩市": "多摩市",
        "調布市": "調布市",
        "西東京市": "西東京市",
        "八王子市": "八王子市",
        "羽村市": "羽村市",
        "東久留米市": "東久留米市",
        "東村山市": "東村山市",
        "東大和市": "東大和市",
        "日野市": "日野市",
        "府中市": "府中市",
        "福生市": "福生市",
        "町田市": "町田市",
        "三鷹市": "三鷹市",
        "武蔵野市": "武蔵野市",
        "武蔵村山市": "武蔵村山市",
        },{ include_blank: "選択してください",selected:""  },{ id: "js_city_category" , required: true}%>
      </div>
    </div>

    <div class="form_section">
      <%= form.label :town_id, "駅名"%>
      <span class="post_form_span">必須</span>
      <div>
        <%= form.select :town_id, {},{ include_blank: "選択してください",selected:""  },{ id: "js_town_id" , required: true}%>
      </div>
    </div>

    <div class="form_section">
      <label>画像
        <div class="post_form" id="img_label">
          <%= form.file_field :image, id: :post_img_file, class: :file, accept: "image/jpg,image/jpeg,image/png",style:"display:none;"%>
          <i class="fas fa-camera">画像を選択する</i>
        </div>
      </label>
    </div>

    <div class="img_preview_box">
      <div class="view_box">
        <%# ここにimgが挿入される %>
      </div>
    </div>

    <div class="form_section">
      <label>
        <div class="post_form submit_label">
          <%= form.submit "投稿する", style:"display:none"%>
          <span id="form_submit">投稿する</span>
        </div>
      </label>
    </div>
    <% end %>
  </section>
</div>

